#eng-works {
  color: darkgrey;
}




body  {
  margin: 0;
}

.avai-name {
  font-weight: lighter;
  margin: 0;
  color: #404040;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color: #404040;
  text-decoration: none;
}
/*
#menu {
  list-style-type: none;
  text-align: center;
  margin: 0;
  border-bottom: 2px solid #e3e3e3;
}
.tabl{
  position: relative;
  display: inline;
  margin-right: 130px;
  margin-left: 100px;
}
*/
.Album {
  text-align: center;
}

.quote {
  box-sizing: border-box;
  display: inline-block;
  padding: 20px 30px;
  color: #404040;
  font-weight: bold;
  size: 20px;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 0;
  }
  
.quote-author {
  display: block;
  font-weight: normal;
  text-align: right;
  size: 16px;
}

.initial-title {
  text-align: center;
  margin-top: 25em;
}

.initial-name {
  margin: 0;
  color: #404040;
  font-size: 90px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

.initial-description {
  margin: 0;
  font-size: 15px;
}
